# このファイルはgitで管理しないディレクトリ、ファイルを指定する

# ==================================
# デフォルトでignoreしたいファイル群
# ==================================
*.swp
*~
.DS_Store

# =======
# vagrant
# =======
.vagrant/*

# =======
# bundler
# =======
.bundle/*
vendor/bundle/*
